<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Website</title>
</head>

<body>
    <section>
        <h1>Under Maintainence</h1>
        <p>Sorry for inconvenience, we'll be back soon!</p>
    </section>
</body>

</html>